.spwidgets-SPPeoplePicker {

    // Overrides needed due to sharepoint styles (in 2013)
    button {
        min-width:      0;
        padding:        initial;
        margin-left:    auto;
        font-size:      initial;
    }

    &-searchFieldCntr {
        display:    inline-block;
        position:   relative;
        float:      left;

        input {
            padding-left:   8px;
            border:         none;
        }
    }


    &-suggestions {
        min-width:  250px;
        top:        100%;
    }

    &-searchInfo {
        border-top: 1px solid #eaeaea;
        padding:    1em;

        &-iconHolder {
            position: absolute;
        }

        > p {
            padding-left:   2em;
            margin:         0;
        }

        &-searchingMsg {
            display: none;
        }
    }

    &-busy {
        display: none;
    }

    &.is-searching .ms-Icon--search {
        display: none;
    }
    &.is-searching &-searchInfo-msg {
        display: none;
    }

    &.is-searching &-searchInfo-searchingMsg {
        display: block;
    }
    &.is-searching &-busy {
        display:            inline-block;
        -webkit-animation:  spwidgets-SPPeoplePicker-rotate 0.5s linear infinite;
        animation:          spwidgets-SPPeoplePicker-rotate 0.5s linear infinite;
    }


    // No presence
    .ms-Persona-presence {
        visibility: hidden;
    }

    // Override UI Fabric so that each persona card has
    // a max-width of 190px instead of fixed width
    .ms-Persona-details > * {
        width:      auto;
        max-width:  190px;
    }


    &--suggestionsRight &-suggestions {
        right: 0;
    }

    //---------------------------------------
    //    ANIMATIONS
    //---------------------------------------
    @-webkit-keyframes spwidgets-SPPeoplePicker-rotate {
        from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spwidgets-SPPeoplePicker-rotate {
        from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}