{
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": [],
    "rules": {
        "no-console": 0,
        "no-underscore-dangle": 0,
        "quotes": [2, "double"]
    }
}