.spwidgets-message {
    position:   relative;
    padding:    0.5em;

    &-iconHolder {
        display:        block;
        position:       absolute;
        font-size:      1.5em;
        line-height:    1em;
    }

    &-msgHolder {
        padding-left:   2em;
        min-height:     2em;

        &-msg > * {
            display: inline;

        }

    }

    &-msg {
        &-showMore {
            display:    none;
            cursor:     pointer;
        }

        &-more {
            display: none;
            white-space: pre-wrap;
        }
    }

    //--------------------------------
    //      modifiers
    //--------------------------------

    &--hasMore &-msg-showMore {
        display: inline;

    }

    &--showMore &-msg-more {
        display: block;
    }
}