/** 
 * Stylesheet for the Board widget
 * 
 * BUILD: _BUILD_VERSION_DATE_
 */
div.spwidget-board {
    width: 100%;
    position: relative;
}

div.spwidget-board div.spwidget-board-headers,
div.spwidget-board div.spwidget-board-headers-cntr,
div.spwidget-board div.spwidget-board-states-cntr, 
div.spwidget-board div.spwidget-board-states {
    width: 100%;
}

div.spwidget-board div.spwidget-board-state {
    width: 49%;
    float: left;
    margin: .1%;
    padding: .2%;
}

div.spwidget-board div.spwidget-board-headers-cntr {
    border: none;
}
div.spwidget-board div.spwidget-board-headers-cntr div.spwidget-board-state {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}
div.spwidget-board div.spwidget-board-states div.spwidget-board-state {
    margin-bottom: 1em;
    min-height: 5em;
}

div.spwidget-board div.spwidget-board-state div.spwidget-board-state-item {
    padding: .2em;
    margin: .5em .2em;
    font-weight: normal;
    cursor: move;
    overflow: auto;
}
div.spwidget-board div.spwidget-board-state-item div.spwidget-board-item-actions{
    margin-top: .5em;
    padding: .2em .5em;
    width: 25%;
    overflow: hidden;
    text-align: center;
}
div.spwidget-board div.spwidget-board-state-item .spwidget-board-handle {
    
}

/* Number of Columns (96 % #columns)
 * Currently support 10 columns. 
 */
div.spwidget-board .spwidget-states-3 div.spwidget-board-state {
    width: 32.4%;
}
div.spwidget-board .spwidget-states-4 div.spwidget-board-state {
    width: 24%;
}
div.spwidget-board .spwidget-states-5 div.spwidget-board-state {
    width: 19.1%;
}
div.spwidget-board .spwidget-states-6 div.spwidget-board-state {
    width: 15.8%;
}
div.spwidget-board .spwidget-states-7 div.spwidget-board-state {
    width: 13.4%;
}
div.spwidget-board .spwidget-states-8 div.spwidget-board-state {
    width: 11.6%;
}
div.spwidget-board .spwidget-states-9 div.spwidget-board-state {
    width: 10.2%;
}
div.spwidget-board .spwidget-states-10 div.spwidget-board-state {
    width: 9.1%;
}
