/** 
 * Stylesheet for the Board widget
 * 
 * BUILD: _BUILD_VERSION_DATE_
 */
div.spwidget-filter {
    width: 100%;
    position: relative;
}
div.spwidget-filter .spwidget-date-cntr,
div.spwidget-filter .spwidgets-lookup-cntr {
    display: block;
}
/* Adjust the width of the widget inputs inside the filter panel */
div.spwidget-filter .spwidget-type-text input.spwidget-filter-input,
div.spwidget-filter .spwidget-type-people input.ui-autocomplete-input,
div.spwidget-filter div.spwidget-type-choice div.spwidget-filter-value-input {
    width: 95%;
}

div.spwidget-filter .spwidgets-lookup-cntr {
    width: 96%;
}
div.spwidget-filter .spwidget-date-cntr div.spwidget-date-input-cntr {
    width: 97%
}

div.spwidget-filter div.spwidget-column {
    padding: .5em;
    margin: .5em;
    position: relative;
    border-bottom: 1px solid  darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
}
div.spwidget-filter div.spwidget-filter-type-cntr {
    right: 4%;
    margin-top: 0.2em;
    position: absolute;
}
div.spwidget-filter div.spwidget-filter-value-cntr {
    margin-top: .5em;
    width: 100%;
}

div.spwidget-filter div.spwidget-filter-value-cntr > label {
    display: block;
    padding: .2em;
    font-size: 1.1em;
    font-weight: bold;
}
div.spwidget-filter div.spwidget-column-dirty div.spwidget-filter-value-cntr > label {
    color: #FF0000;
}
div.spwidget-filter .spwidget-tooltip {
    display: block;
    font-size: .8em;
    font-style: italic;
}

/* LOOKUP FIELDS */
div.spwidget-filter div.spwidgets-lookup-cntr div.spwidgets-lookup-selected > div.spwidgets-item {
    display: block;
    margin-left: 0px;
}

/* CHOICE FIELDS */
div.spwidget-filter div.spwidget-type-choice div.spwidget-filter-value-input {
    max-height: 6em;
    overflow: auto;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid  darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    padding: 2px 5px;
}
div.spwidget-filter div.spwidget-type-choice div.spwidget-filter-value-input label {
    display: block;
    padding: .2em;
}

/** DISABLED COLUMN VALUE CONTAINER */
div.spwidget-filter .spwidget-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}

/** Button container */
div.spwidget-filter div.spwidget-filter-button-cntr {
    padding: .5em 4%;
    margin-top: .5em;
    text-align: right;
}

