.spwidget-date-cntr {
    display: inline-block;   
    position: relative;
}
.spwidget-date-cntr div.spwidget-date-input-cntr {
    position: relative;
}
.spwidget-date-cntr input {
    width: 99%;
}
.spwidget-date-cntr img.ui-datepicker-trigger {
    display: block;
    position: absolute;
    right: 2%;
    top: .3em;
}

.spwidget-date-cntr .spwidgets-item-remove {
    color: red;
    font-size: xx-small;
    vertical-align: super;
    cursor: pointer;
}
/** --------------------------- Date and Time picker -- */
.spwidget-date-cntr div.spwidget-datetime-selector {
    padding: .5em;
    position: absolute;
    width: 26em;
    z-index: 1;
}
.spwidget-date-cntr div.spwidget-datetime-selector div.ui-datepicker-inline {
    width: 14em;
}

.spwidget-date-cntr div.spwidget-datetime-selector div.spwidget-date-selector,
.spwidget-date-cntr div.spwidget-datetime-selector div.spwidget-time-selector {
    float: left;
}
.spwidget-date-cntr div.spwidget-selectors:before,
.spwidget-date-cntr div.spwidget-selectors:after {
    content: "";
    display: table;
    line-height: 0;
}
.spwidget-date-cntr div.spwidget-selectors:after {
    clear: both;    
}
.spwidget-date-cntr div.spwidget-datetime-selector select.spwidget-hour,
.spwidget-date-cntr div.spwidget-datetime-selector select.spwidget-min,
.spwidget-date-cntr div.spwidget-datetime-selector select.spwidget-ampm {
    font-size: 1.2em;
}
/* Time selector */
.spwidget-date-cntr div.spwidget-time-selector {
    margin-left: .2em;
    width: 11em;
}
.spwidget-date-cntr div.spwidget-time-selector-cntr {
    padding: .2em;
}
.spwidget-date-cntr div.spwidget-time-selector div.ui-widget-header {
    text-align: center;
    line-height: 2em;
    margin-bottom: .5em;
}
.spwidget-date-cntr .spwidget-time-hour,
.spwidget-date-cntr .spwidget-time-min,
.spwidget-date-cntr .spwidget-time-ampm {
    margin-top: .2em;
    padding: .2em;
}
.spwidget-date-cntr .spwidget-time-selector-cntr select,
.spwidget-date-cntr .spwidget-time-selector-cntr label {
    overflow: hidden;
    display: inline-block;
    font-weight: bold;
}
.spwidget-date-cntr .spwidget-time-selector-cntr select {
    width: 4em;
}
.spwidget-date-cntr .spwidget-time-selector-cntr label {
    width: 5em;
    font-size: .9em;
}
.spwidget-btn-set {
    display: none;
    position: absolute;
    right: .2em;
    bottom: .2em;
}
.spwidget-date-multiples-cntr .spwidget-btn-set {
    display: block;
}
