.ms-PeoplePicker {
    &-result {
        &--focus {
            background-color:   #eaeaea;
            outline:            1px solid transparent;
        }
    }

    &-result--no-button &-resultAction {
        display: none;
    }
}

