.spwidgets-DateTimeField {
    position:   relative;
    box-sizing: border-box;

    &--noLabel .ms-Label {
        display: none;
    }
    &--noDescription .ms-TextField-description {
        display: none;
    }
}